@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  /* -webkit-box-shadow: 0 0 0px 1000px #ffffff88 inset !important;
  box-shadow: 0 0 0px 1000px #ffffff88 inset !important; */
  -webkit-text-fill-color: #020b1dcc !important;
  -webkit-box-shadow: inset 0 1px #ffffff, inset 0 -1px #0000002e, 0 0 0px 1000px #ffffff88 inset !important;
  box-shadow: inset 0 1px #ffffff, inset 0 -1px #0000002e, 0 0 0px 1000px #ffffff88 inset !important;
  /* transition: background-color 5000s ease-in-out 0s; */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 1px #ffffff, inset 0 -1px #0000002e, 0 0 0px 1000px #ffffff88 inset, 0 0 0 1px #548eff !important;
  box-shadow: inset 0 1px #ffffff, inset 0 -1px #0000002e, 0 0 0px 1000px #ffffff88 inset, 0 0 0 1px #548eff !important;
}




.Toastify__progress-bar-theme--light {
  /* background: #ff000044 !important; */
  background: #ffffff88 !important;
}
.Toastify__progress-bar--wrp {
  height: 3px !important;
}
.Toastify__progress-bar {
  transform-origin: right !important;
}
.Toastify__close-button--light{
  color: #fff !important;
  opacity: .85 !important;
}
.Toastify__close-button {
  top: 8px !important;
}

.foo {
  position: static !important;
  transform: none !important;
  width: 100% !important;
}

.foo2 {
  position: fixed !important;
  width: 100vw !important;
  height: 100vh;
  top: 0 !important;
  left: 0;
  background: #39507f30;
}
.foo3 {
  position: fixed !important;
  width: 100vw !important;
  height: 100vh;
  top: 68px;
  left: 0;
  background: #39507f2e;
}


.disabled-link {
  pointer-events: none; /* evita clics */
  color: #020b1d55;       /* estilo visual */
  cursor: not-allowed;
}








@keyframes radial-progress {
  from {
    stroke-dashoffset: 565px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes rotatex {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg) ;
  }
}

.animate {
  animation: radial-progress linear forwards;
}
.rotatex {
  animation: rotatex linear ;/* forwards */
}




@media (min-width: 640px) {
  .foo3 {
    top: 80px;
  }
}